<div class="oj-hybrid-applayout-page">
  <div class="oj-applayout-fixed-top">
    <header role="banner" class="oj-hybrid-applayout-header">
      <oj-module config="[[headerConfig]]"></oj-module>
    </header>
  </div>
  <div class="oj-applayout-content">
    <div role="main" class="oj-hybrid-applayout-content">
      <div class="oj-hybrid-padding">
        <h1>Menú de opciones</h1>
        <span data-bind="html : error" style="color : red"></span>
        <div>
        	<button data-bind="click : playMatch">Jugar partida</button>
        </div>
      </div>
    </div>
  </div>
</div>