<div class="oj-hybrid-applayout-page">
	<div class="oj-applayout-fixed-top">
		<header role="banner" class="oj-hybrid-applayout-header">
			<oj-module config="[[headerConfig]]"></oj-module>
		</header>
	</div>
	<!-- This is where your main page content will be loaded -->
	<div class="oj-applayout-content">
		<div role="main" class="oj-hybrid-applayout-content">
			<div class="oj-hybrid-padding">
				<h1>Cambiar contraseña</h1>
				<div>
					<input type="text" placeholder="Nombre de usuario"
						data-bind="value : userName"> <input type="pwd"
						placeholder="Contraseña" data-bind="value : pwd">
					<input type="npwd1" placeholder="Nueva contraseña"
						data-bind="value : npwd1"> <input type="npwd2"
						placeholder="Repite nueva contraseña" data-bind="value : npwd2">
					<input type="file" size="50"
						data-bind="event : {change : setPicture }"><br>
					<!-- ko if : picture -->
					<img data-bind="attr: { src : picture}" width="100" height="100">
					<!-- /ko -->
					<button id="btnCambiarPwd" data-bind="click : register">Cambiar contraseña</button>
					<div class="oj-sm-12" data-bind="html : message" style="color : blue">
	            	</div>
	            	<div class="oj-sm-12" data-bind="html : error" style="color : red">
	            	</div>						
				</div>
			</div>
		</div>
	</div>
</div>