<div class="oj-hybrid-applayout-page">
  <div class="oj-applayout-fixed-top">
    <header role="banner" class="oj-hybrid-applayout-header">
      <oj-module config="[[headerConfig]]"></oj-module>
    </header>
  </div>
  <div class="oj-applayout-content">
    <div role="main" class="oj-hybrid-applayout-content">
      <div class="oj-hybrid-padding">
        <h1>Menú de opciones</h1>
        
        <div data-bind="html : status" style="color : blue"></div>
        <div data-bind="html : error" style="color : red"></div>
        
        <div>
        	<button data-bind="click : playMatch">Jugar partida</button>
        </div>
        <!-- ko with : match -->
	        <div>
	        	Match Id: <div data-bind="html : id"></div>
	        </div>
	        <div>
	        	Player A: <div data-bind="html : playerA"></div>
	        </div>
	        <div>
	        	Player B: <div data-bind="html : playerB"></div>
	        </div>
      		<input type="text" data-bind="value : $parents[$parents.length-1].testWord">
      		<button data-bind="click : function() { $parents[$parents.length-1].guess() }">Probar</button>       			
	        <table>
	        	<tr>
	        		<th>Tablero local</th>
	        		<th>Tablero rival</th>
	        	</tr>
	        	<!-- ko if : $parent.mensajeFinal() -->
	        		<tr>
	        			<td colspan="2" data-bind="html : $parent.mensajeFinal" style="color : green">
	        		</tr>
	        	<!-- /ko -->
        		<tr>
        			<td>
 			        	<!-- ko foreach : guessesA -->
 			        		<div>
				        		<span data-bind="html : $data" style="font-size:18px;"></span>
				        	</div>
	        			<!-- /ko -->			        		
		        	</td>
		        	<td>
		        		<!-- ko foreach : guessesB -->
		        			<div>
			        			<span data-bind="html : $data" style="font-size:18px;"></span>
			        		</div>
	        			<!-- /ko -->
		        	</td>
	        	</tr>
	        </table>
	    <!-- /ko -->
      </div>
    </div>
  </div>
</div>