<head>
    <meta charset="UTF-8">
    <title>Register</title>
	<link href="css/menu.css" rel="stylesheet" />
</head>
<div class="oj-hybrid-applayout-page">
  <div class="oj-applayout-fixed-top">
    <header role="banner" class="oj-hybrid-applayout-header">
      <oj-module config="[[headerConfig]]"></oj-module>
    </header>
  </div>
  <div class="oj-applayout-content">
    <div role="main" class="oj-hybrid-applayout-content">
      <div class="oj-hybrid-padding">   
        <div class="input-field-status" data-bind="html : status" style="color : blue"></div>
        <div class="input-field-status" data-bind="html : error" style="color : red"></div>    
      	<div id="menu">
      	   	<div class="button-field">
        		<button class="Menu" data-bind="click : playMatch">Jugar partida</button>
       	 	</div> 
       	 	<!-- ko with : match -->    	
      		<div class="data-field">
	        	Match Id: <div data-bind="html : id"></div>
	        </div>
	        <div class="data-field">
	        	Player A: <div data-bind="html : playerA"></div>
	        </div>
	        <div class="data-field">
	        	Player B: <div data-bind="html : playerB"></div>
	        </div>
	        <div class="data-field">
	              		<input type="text" placeholder="Palabra" data-bind="value : $parents[$parents.length-1].testWord">
      		<button class="Probar" data-bind="click : function() { $parents[$parents.length-1].guess() }">Probar</button>  
      		</div>
      		<div class="data-field">   			
	        <table>
	        	<tr>
	        		<th class="data-field">Tablero local</th>
	        		<th class="data-field">Tablero rival</th>
	        	</tr>
	        	<!-- ko if : $parent.mensajeFinal() -->
	        		<tr>
	        			<td colspan="2" data-bind="html : $parent.mensajeFinal" style="color : green">
	        		</tr>
	        	<!-- /ko -->
        		<tr>
        			<td>
 			        	<!-- ko foreach : guessesA -->
 			        		<div>
				        		<span data-bind="html : $data" style="font-size:18px;"></span>
				        	</div>
	        			<!-- /ko -->			        		
		        	</td>
		        	<td>
		        		<!-- ko foreach : guessesB -->
		        			<div>
			        			<span data-bind="html : $data" style="font-size:18px;"></span>
			        		</div>
	        			<!-- /ko -->
		        	</td>
	        	</tr>
	        </table>
	        </div>
	    <!-- /ko -->   		
       	 </div>
      </div>
    </div>
  </div>
</div>