<head>
    <meta charset="UTF-8">
    <title>Register</title>
	<link href="css/recuperarPassword.css" rel="stylesheet" />
</head>
<div class="oj-hybrid-applayout-page">
	<div class="oj-applayout-fixed-top">
		<header role="banner" class="oj-hybrid-applayout-header">
			<oj-module config="[[headerConfig]]"></oj-module>
		</header>
	</div>
	<!-- This is where your main page content will be loaded -->
	<div class="oj-applayout-content">
		<div role="main" class="oj-hybrid-applayout-content">
			<div class="oj-hybrid-padding">
				<div id="recuperar">
					<div class="data-field">
            			<label>Si desea recuperar su contraseña, introduzca el email</label>
            		</div>
            		<div class="input-field">
            			<input type="text" placeholder="Email" data-bind="value : email">
            		</div>
            		<div class="button-field">
            			<button class="Recuperar" data-bind="click : sendEmail">Recuperar contraseña</button>
            		</div>
            	</div>
            	<div class="input-field-status" data-bind="html : message" style="color : blue"></div>
            	<div class="input-field-status" data-bind="html : error" style="color : red"></div>	
			</div>
		</div>
	</div>
</div>