<head>
    <meta charset="UTF-8">
    <title>Register</title>
	<link href="css/resetPassword.css" rel="stylesheet" />
</head>
<div class="oj-hybrid-applayout-page">
	<div class="oj-applayout-fixed-top">
		<header role="banner" class="oj-hybrid-applayout-header">
			<oj-module config="[[headerConfig]]"></oj-module>
		</header>
	</div>
	<!-- This is where your main page content will be loaded -->
	<div class="oj-applayout-content">
		<div role="main" class="oj-hybrid-applayout-content">
			<div class="oj-hybrid-padding">
				<div id="reset">		
                 	<div class="input-field">
            			<input type="password" placeholder="Nueva contraseña" data-bind="value : newpwd1">
            		</div>          		
            		<div class="input-field">
            			<input type="password" placeholder="Repite nueva contraseña" data-bind="value : newpwd2">
            		</div>
            		<div class=button-field>
            			<button class="Reset" data-bind="click : resetPassword">Cambiar</button>
            		</div>
            		<div class="input-field-status" data-bind="html : message" style="color : blue"> </div>
            	    <div class="input-field-status" data-bind="html : error" style="color : red"> </div>	
				</div>
			</div>
		</div>
	</div>
</div>